<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-logo" href="/">fengjielin's Blog</a>
      <a class="blog-nav-item active" href="javascript:void(0);" onclick="renderAjaxFirst(1,0)">我要变强</a>
      <a class="blog-nav-item" href="javascript:void(0);" onclick="renderAjaxFirst(1,1)">点滴记录</a>
      <a class="blog-nav-item" href="javascript:void(0);" onclick="renderAjaxClassifyList()">分类记录</a>
      <a class="blog-nav-item" href="javascript:void(0);" onclick="renderImageArea()">图片天地</a>
      <a class="blog-nav-item" href="javascript:void(0);" onclick="renderAbout()">fengjielin</a>
    </nav>
  </div>
</div>